@import '../../styles/colors.scss';

.container {
    width: 480px;
    height: 330px;
    padding: 8px;

    h2 {
        margin: 0;
    }

    p {
        height: 30%;
    }

    h3 {
        margin: 8px 0px;
    }

    .membersRow {
        display: flex;
        width: 100%;
        height: 40px;

        > div {
            margin-right: 4px;
        }
    }

    .lastLine {
        display: flex;
        justify-content: space-between;

        .rolesRow {
            display: flex;
            width: 50%;
            height: 40px;
    
            > span {
                margin-right: 4px;
            }
        }
    
        .btnContainer {
            display: flex;
            width: 20%;
            height: 40px;
    
            button {
                background-color: $secondary;
                color: white;
            }
        }
    }
}